.body {
    display: grid;
    margin: 15px;
    gap: 25px;
}
     
.conteudo-cards {
    grid-template-columns: auto auto;
    
}
    
.avaliacoes {
    grid-area: avaliacoes;
}
.card {
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    margin-top: 5px;
}
div > h1 {
    text-align: center;
}
.card ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
} 

/* Nota */

.avaliacao {
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}