.body {
    display: grid;
    margin: 30px;
    gap: 25px;
    display: flex; /*Organiza as informações lado a lado*/
    justify-content:space-around; /*Distribui, de forma organizada, os espaçamentos entre as informações*/
} 
.conteudo-cards {
    grid-template-columns: auto auto;
    
}
    
.avaliacoes {
    grid-area: avaliacoes;
}
.card {
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    margin-top: 5px;
}
div > h1 {
    text-align: center;
}
.card ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
} 

/* Nota */

.avaliacao {
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
}

.titulo-instrutor {
    text-align: center;
}

/* Gerencia Perfil */
.alinhamento {
    display: grid;
    grid-template-columns: 20% 50% 20% ;
    grid-template-areas: ". formulario .";
}
.forms {
    grid-area: formulario;
}
.total-relatorio {
    margin-top: 5px;
}
.select-relatorio {
    margin-top: 10px;
}

