<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - ldMusic</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <header>
    {% block header%}
    {% endblock  %}

    </header>
    {% endblock  %}
    {% include "scripts.html" %}
</body>
</html>














<!--<!DOCTYPE html> -->
<!--<html lang="en"> -->
<!--  <head> -->
<!--<!-1-<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -1-> -->
<!--    <meta charset="utf-8"> -->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"   crossorigin="anonymous"> -->
<!--  </head> -->
<!--  <body> -->
<!--    <header> -->
<!--      <p>Conectando a Paixão por Música!</p> -->
<!--    </header> -->
<!--    <ul class="nav nav-nav navbar-right"> -->
<!--        {% if usuario_atual.is_authenticated %} -->
<!--        <li><a href="{{ url_for('auth.logout') }}"> Sair </a></li> -->
<!--        {% else %} -->
<!--        <li><a href="{{ url_for('auth.login')}}"> Entrar</a></li> -->
<!--        {% endif %} -->
<!--    </ul> -->
<!--      
<!--      
<!--       -->
<!--       -->
<!--    </body> -->
<!--</html> -->
