<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
</head>
<body>
<header>
  {%include "main.html"%}
  <h3>Página Cadastro LDMUSIC</h3>
  <hr>
</header>
<form action="{{ url_for ('cadastro')}}" method="POST">
  <table>
    <p>Selecione o tipo de Usuário</p><br>
    <input type="radio" id="aluno" name="tipoUsuario" value="aluno">
    <label for="male">Aluno</label><br>
    <input type="radio" id="instrutor" name="tipoUsuario" value="instrutor">
    <label for="female">Instrutor</label><br>
    <tr>
      <td>Nome</td>
      <td><input type="text" name="nome"></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="email"></td>
    </tr>
    <tr>
      <td>Senha</td>
      <td><input type="text" name="senha"></td>
    </tr>
  </table><br>
  <input type="submit" value="Cadastrar">
</form>
</body>
</html>
