{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}ldMusic{% endblock %}

{% block page_content %}

    <div class="page-header" align="center">
        <h2>Seja bem vindo ao ldMusic, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}sinta-se a vontade{% endif %}!</h2>
                   <br><br> <img class="card-img-top" src="../static/compose.svg" width="400px">         </div>
<div class="footer" margin-top = "05" align = "center">
        {% if current_user.is_anonymous %}
    <div class="col-sm-6" align = "center">
        {% endif %}
        <h4 class=justify-content-center"><p>Entre em contato conosco!<br>
            E-mail: <a href="#">ldmusic00@gmail.com</a></h4></p><!--MAILTO: encaminha o usuário para uma pagina de envio de email-->
    </div>
</div>
    
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
