{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}ldMusic{% endblock %}
{% block instrumentos %}

{% endblock  %}
{% block content %}

<div class="titulo-instrutor">
    <h1>Instrutores</h1>  
</div>
<div class="body conteudo-cards">
    {% for user in user %}
        <div class="card">
            <ul style="margin-top: 30px;">
                
                <li><b>nome</b></li>            
                <li><b>Instrumento</b></li>
                <li><b>Distância</b></li>
    
            </ul>
            <ul>
                <li>{{ user.nome }}</li>
                <li>{{ user.instrumento }}</li>
                <li>{{ distancia }}</li>
            </ul>
            <hr>
            <ul> 
                <li><input type="button" value="Solicitar Contato"></li>
                <li><input type="reset" value="Contato"></li>
            </ul>
        </div>
        {% endfor %}
   
</div>

{% endblock %}