{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}ldMusic{% endblock %}
{% block instrumentos %}

{% endblock  %}
{% block content %}

<div class="titulo-isntrutor">
    <h1>Instrutores</h1>
    {{ instrumentos.instrumento }}
</div>
<div class="body conteudo-cards">
    <div class="card">
        <ul style="margin-top: 20px;">
            <li>distancia</li>
            <li>Nome</li>
            <li>Instrumento</li>
        </ul>
        <hr>
        <ul>
            <li><input type="reset" value="Disponivel"></li>
            <li><input type="reset" value="Contato"></li>
        </ul>
    </div>
    <div class="card">
        <ul style="margin-top: 20px;">
            <li>distancia</li>
            <li>Nome</li>
            <li>Instrumento</li>
        </ul>
        <hr>
        <ul>
            <li><input type="reset" value="Disponivel"></li>
            <li><input type="reset" value="Contato"></li>
        </ul>
    </div>
    <div class="card">
        <ul style="margin-top: 20px;">
            <li>distancia</li>
            <li>Nome</li>
            <li>Instrumento</li>
        </ul>
        <hr>
        <ul>
            <li><input type="reset" value="Disponivel"></li>
            <li><input type="reset" value="Contato"></li>
        </ul>
    </div>
    <div class="card">
        <ul style="margin-top: 20px;">
            <li>distancia</li>
            <li>Nome</li>
            <li>Instrumento</li>
        </ul>
        <hr>
        <ul>
            <li><input type="reset" value="Disponivel"></li>
            <li><input type="reset" value="Contato"></li>
        </ul>
    </div>
</div>



{% endblock %}
