{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}ldMusic - instrutores{% endblock %}
{% block instrumentos %}

{% endblock  %}

{% block content %}

<div class="titulo-instrutor">
    <h1>Instrutores</h1>
</div>
<div class="body conteudo-cards">
    {% for subusuario in instrutores %}
        <div class="card">
            <ul style="margin-top: 30px;">
                <li><b>Nome</b></li>            
                <li><b>Instrumento</b></li>
                <li><b>Distância</b></li>
            </ul>
            <ul>
		<li><a href="{{ url_for("main.usuario", username=subusuario.usuario.username )}}">{{ subusuario.usuario.nome }}</a></li>
                <li>{{ subusuario.usuario.instrumento }}</li>
		{% if violao == subusuario.usuario.instrumento  %}
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/1836/1836514.svg" width = "20px">
                {% elif bateria == subusuario.usuario.instrumento %}
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/860/860310.svg" width = "20px">
                {% elif guitarra == subusuario.usuario.instrumento %}
                <img class="card-img-top" src="https://image.flaticon.com/icons/svg/2966/2966010.svg" width = "20px">
                {% endif %}
                <li>{{ subusuario.km }}</li> 
            </ul>
            <hr>
            <ul> 
                <li><a href="/usuario/{{ subusuario.usuario.username }}"><input type="button" value="{{ subusuario.usuario.email }}"></li></a>
            </ul>
        </div>
        {% endfor %}
</div>

{% endblock %}
