<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
<header>
  <h1>ldMusic</h1>
  <p>Conectando a Paixão por Música!</p>
</header>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="#">Instrumentos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Instrutores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Alunos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('cadastrar') }}">Cadastre-se</a>
  </li>
</ul>
<!--    <h1>Cadastro</h1>
  <a href="{{ url_for('cadastrar') }}">Cadastrar Clientes</a> -->
</body>
</html>
