{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}ldMusic{% endblock %}
{% block instrumentos %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Instrumentos<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="">Bateria</a></li>
        <li><a href="">Violao</a></li>
        <li><a href="">Guitarra</a></li>
    </ul>
</li>
{% endblock  %}
{% block content %}

<div class="titulo-isntrutor">
    <h1>Gerenciar Perfil</h1>
</div>

<div class="body">
    <div class="alinhamento">
        <div class="forms">

            <form>
                <legend>Editar Perfil Administrador</legend>
                <div class="form-group">
                    {{ administrador.name.label }}
                    {{ administrador.name }}
                    
                    {{ administrador.sobrenome.label }}
                    {{ administrador.sobrenome }}
                    <br>
                    {{ administrador.username.label }}
                    {{ administrador.username }}
                    <br>
                    {{ administrador.email.label }}
                    {{ administrador.email }}
                    <br>
                    {{ administrador.endereco.label }}
                    {{ administrador.endereco }}
                    
                </div>
                <hr>
            </form>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Alterar</button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">Cancelar</button>
                </div>
            </div>

        </div>

    </div>
</div>
</div>
{% endblock %}
