{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}ldMusic - {{ usuario.username }}{% endblock %}


{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>{{ usuario.username }}</h1>
    </div>
</div>

<div class="body">
    <div>
        <div class="comentarios">
            <div class="embed">
                {% if usuario.urlVideo %}
                <iframe src="{{ usuario.urlVideo }}"></iframe>
                {% endif %}
            </div>
            <div>
                <h3>Sobre mim</h3>
                {% if usuario.sobre_mim %}<p> {{ usuario.sobre_mim }}</p>{% endif %}
                <h3>Email para Contato</h3>
                <p>{{ usuario.email }}</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
